* {

    margin: 0;
    padding: 0;
}

body {

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
}

.header {

    height: 800px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7)),url(./headerbackground.avif);
    background-size: cover;
    background-position: center;
}

.header img {

    width: 200px;
    height: 200px;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
}


.navlinks ul li {

    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.navlinks ul li a {

    text-decoration: none;
    color: white;
}

.navlinks ul li::after {

    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
}

.navlinks ul li:hover::after {

    width: 100%;
}

.text_boxcontainer {

    display: flex;
    position: absolute;
    justify-content: center;
    top: 50%;
    width: 100%;
    


}

.text_box {

    text-align: center;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.text_box h1 {

    font-size: 40px;
}

.visitbtn {

    color: white;
    text-decoration: none;
    border: solid 1px white;
    cursor: pointer;
    padding: 10px 15px;
    width: fit-content;
    margin-top: 20px;
    transition: 0.5s;

}

.visitbtn:hover {

    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.5s;
}

.menu {
 
    background-color: white;
    padding: 7px;
    margin: 5px;

}

.close {

    display: none;

}

.sidenavbar {

    display: block;
}

.sidenavbar {

        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        color: white;
        transition: 2s;
        display: none;
        
        
    
    }

    .sidenavbar ul {

        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px;
        
    }

    .sidenavbar ul li a {

        text-decoration: none;
        color: white;

    }


@media screen and (max-width: 704px) {


    .text_box h1 {

    font-size: 20px;
}

    .sidenavbar {
        right: -60%;
        display: block;
        transition: 2s;
        
    }
    

    .navlinks {

        display: none;
    }

    .menu {
 
    display: block;
}

    .close {

        display: block;

    }

}

@media screen and (min-width: 704px) {

    .menu {
 
    display: none;
}

}

.course {

    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.course h1 {

    font-size: 30px;
}

.course p {

    color: #777;
    font-size: 16px;
    padding: 30px;
}

.row {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    gap: 40px;
    width: 80%;
    align-items: center;
}

.course_col {
    background: #fff3f3;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
}

@media(max-width:704px) {

    .row {

        flex-direction: column;
    }
}

.course_col:hover {

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.campus {

    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.campus h1 {

    font-size: 30px;
}

.campus p {

    color: #777;
    font-size: 16px;
    padding: 30px;
}

.campus_col img {

    height: 500px;
    width: 300px;
    border-radius: 10px;
    opacity: 80%;
}

.campus_col {

    background: transparent;
    width: 300px;
    height: 500PX;
    transition: 0.5s;
    border-radius: 10px;
    position: relative;
}

.campus_col:hover {

    background: red;
    z-index: 10;
    transition: 0.5s;
}

.layer {

    position: absolute;
    left: 32.5%;
    bottom:0%;
    color: white;
    transition: 1s;
}

.campus_col:hover .layer {

    bottom: 50%;
}

.facilities {

    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

}

.facilities h1 {

    font-size: 30px;
}

.facilities p {

    color: #777;
    font-size: 16px;
    padding: 30px;
}

.facilities_container {

    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 20px;
}

.facils img {

    height: 300px;
    width: 320px;
    border-radius: 10px;
    transition: 0.5s;
}

.facils img:hover {

    transform: scale(0.9);
    transition: 0.5s;
}

@media(max-width:704px) {

    .facilities_container {

        flex-direction: column;
    }
}

.testimonials {

    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimonials h1 {

    font-size: 30px;
}

.testimonials p {

    color: #777;
    font-size: 16px;
    padding: 30px;
}

.testicontainer {

    display: flex;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 80%;

}

.testicontainer img {

    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.testi {

    padding: 10px;
    border-radius: 10px;
    background-color:#fff3f3 ;
}

@media(max-width:704px) {

    .testicontainer {

        flex-direction: column;
    }
}

.cta {

    width: 100vw;
    margin-top: 10%;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.ctacontainer {

        background-image: linear-gradient(rgba(4,9,30,0.7)),url(./pexels-hillaryfox-1595385.jpg);
        background-position: center;
        width: 60%;
        background-size: cover;
        padding: 30px;
        border-radius: 10px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;

}

.aboutus {

    margin-top: 10%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aboutus h1 {

    font-size: 30px;
}

.aboutus p {

    color: #777;
    font-size: 16px;
    padding: 30px;
}

.aboutuscontainer {

    width: 50%;
}

.socialmedias {

    display: flex;
    justify-content: center;
    gap: 30px;
}

.socialmedias svg {

    height: 30px;
    width: 30px;
}